block footer

	footer.site-footer
		.site-header__heading
			.container.cf
				nav.main-nav
					ul
						li
							a(href="#") Главная
						li
							a(href="#") о нас
						li
							a(href="#") Услуги
						li
							a(href="#") цены
						li
							a(href="#") Наши клиенты
						li
							a(href="#") Статьи
						li
							a(href="#") Контакты
				.socials
					p Мы в сети:
					ul
						li.fb
							a(href="#")
						li.vk
							a(href="#")
						li.twit
							a(href="#")
						li.ok
							a(href="#")
						li.gplus
							a(href="#")
		