block header
	header.site-header
		.site-header__top.container.cf
			.site-header__top-logo
				a(href="/")
					img(src="img/logo.png", alt="")
				.site-header__top-slogan
					p Профессиональная уборка коммерческих и частных помещений
			.site-header__top-contacts
				p.tel
					a(href="tel:+7 (495) 978-55-45") +7 (495) <strong>978-55-45</strong>
				p.mail e-mail: 
					a(href="mailto:info@cl-r.ru") info@cl-r.ru
		.site-header__heading
			.container.cf
				nav.main-nav
					ul
						li
							a(href="#") Главная
						li
							a(href="#") о нас
						li
							a(href="#") Услуги
						li
							a(href="#") цены
						li
							a(href="#") Наши клиенты
						li
							a(href="#") Статьи
						li
							a(href="#") Контакты
				.socials
					p Мы в сети:
					ul
						li.fb
							a(href="#")
						li.vk
							a(href="#")
						li.twit
							a(href="#")
						li.ok
							a(href="#")
						li.gplus
							a(href="#")



























