extends _layout

block body
	include _pages-heading.jade
	.main-content
		.container
			.articles__list
				article.articles__list-item.cf
					.date-side
						p.date-list 25
						p.month-list ноя
					.img-side
						img(src="img/articles-img.jpg", alt="")
					.content-side
						h3 
							a(href="#") Клининговая компания – 100%й эффект уборки
						p.articles-description Жизнь каждого человека напоминает стремительный бег в поисках счастья, удачи и благополучия. Вперед, и только вперед! Мы переживаем о семейных нуждах, заботимся о своих детях, и отдаем слишком много времени и сил своей работе, ради перспективы карьерного роста. Зачастую, мы даже не замечаем того, что у нас, нет ни минуты свободного времени. Однако…
						a(href="#", class="animatable article-more") читать подробнее
				article.articles__list-item.cf
					.date-side
						p.date-list 25
						p.month-list ноя
					.img-side
						img(src="img/articles-img.jpg", alt="")
					.content-side
						h3 
							a(href="#") Клининговая компания – 100%й эффект уборки
						p.articles-description Жизнь каждого человека напоминает стремительный бег в поисках счастья, удачи и благополучия. Вперед, и только вперед! Мы переживаем о семейных нуждах, заботимся о своих детях, и отдаем слишком много времени и сил своей работе, ради перспективы карьерного роста. Зачастую, мы даже не замечаем того, что у нас, нет ни минуты свободного времени. Однако…
						a(href="#", class="animatable article-more") читать подробнее
				article.articles__list-item.cf
					.date-side
						p.date-list 25
						p.month-list ноя
					.img-side
						img(src="img/articles-img.jpg", alt="")
					.content-side
						h3 
							a(href="#") Клининговая компания – 100%й эффект уборки
						p.articles-description Жизнь каждого человека напоминает стремительный бег в поисках счастья, удачи и благополучия. Вперед, и только вперед! Мы переживаем о семейных нуждах, заботимся о своих детях, и отдаем слишком много времени и сил своей работе, ради перспективы карьерного роста. Зачастую, мы даже не замечаем того, что у нас, нет ни минуты свободного времени. Однако…
						a(href="#", class="animatable article-more") читать подробнее
				article.articles__list-item.cf
					.date-side
						p.date-list 25
						p.month-list ноя
					.img-side
						img(src="img/articles-img.jpg", alt="")
					.content-side
						h3 
							a(href="#") Клининговая компания – 100%й эффект уборки
						p.articles-description Жизнь каждого человека напоминает стремительный бег в поисках счастья, удачи и благополучия. Вперед, и только вперед! Мы переживаем о семейных нуждах, заботимся о своих детях, и отдаем слишком много времени и сил своей работе, ради перспективы карьерного роста. Зачастую, мы даже не замечаем того, что у нас, нет ни минуты свободного времени. Однако…
						a(href="#", class="animatable article-more") читать подробнее
			.pagination
				a(href="#") 1
				a(href="#") 2
				a(href="#") 3
				a(href="#") 4
							
