extends _layout

block body
	include _pages-heading.jade
	//begin about-us
	.about-us
		.container.cf
			h2.block-heading о компании
			img(src="img/about-img.png", alt="")
			.about-us-description
				p Компания "Чистая репутация" позволит вашей квартире, дому или офису оставаться чистыми и радующими глаз. <br><br>Специалисты нашей компании работают в сфере клининга уже много лет и знают об уборке все. Независимо от того насколько  большой объем необходимо выполнить,  наши мастера справятся.  <br><br>На данный момент в Санкт-Петербурге  и  Ленинградской области действует множество компаний представляющих услуги по уборке. Среди них есть достойные компании услугами которых Вы останетесь довольны.  <br><br>Компания "Чистая Репутация" из этого числа. Нам Важно, чтобы Вы  обращались к нам и становились нашими постоянными клиентами.   Независимо от того пользуетесь ли Вы нашими услугами как частное лицо, или представляете юридическое лицо, желаете ли Вы использовать наличный или безналичный расчет,  нужна ли Вам уборка утром или вечером (а может и в выходной день) мы всегда будем Вам рады.  <br><br><br>Позвоните и закажите услуги у нас.
	//end about-us
	//begin .reviews
	.reviews
		.container.cf
			h2.block-heading Отзывы наших клиентов
			.slider-wrapper
				ul.bxslider
					li
						img(src="img/rev-img.png", alt="")
						p.reviews__text “Клининг и своевременное техническое обслуживание – профилактика от постоянного ремонта. Полы в помещениях регулярно подвергаются износу и механическому воздействию (грязь, песок, мусор) и утрачивают первоначальный вид. При должном уходе и регулярной уборке срок службы напольного покрытия может быть продлён. Экономьте на ремонте.”
						p.reviews__author Дмитрий Ковальский
						p.reviews__role частный предприниматель
					li
						img(src="img/rev-img.png", alt="")
						p.reviews__text “Клининг и своевременное техническое обслуживание – профилактика от постоянного ремонта. Полы в помещениях регулярно подвергаются износу и механическому воздействию (грязь, песок, мусор) и утрачивают первоначальный вид. При должном уходе и регулярной уборке срок службы напольного покрытия может быть продлён. Экономьте на ремонте.”
						p.reviews__author Дмитрий Ковальский
						p.reviews__role частный предприниматель
	//end .reviews
	.thank-letters.container
		h2.block-heading письма-благодарности
		ul
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")
			li
				img(src="img/letter1.jpg", alt="")
				a(href="img/letter1.jpg", class="fancybox", rel="group")







