extends _layout

block body
	include _pages-heading.jade
	.main-content
		.container.cf
			p Сегодня уборка коммерческих помещений с помощью клининговой компании распространенная услуга. Часто это экономически выгоднее чем содержать штат сотрудников и ежемесячно включать в расходы сумму на санитарные средства и инструменты.
			p Поддерживать дом или квартиру в постоянной чистоте не хватает времени. Или необходимо проведение генеральной уборки после вечеринки. Воспользуйтесь услугами компании "Чистая репутация" и наслаждайтесь результатом. 
			.services-sections.cf
				.services-section.entity-section
					p.title Юридическим лицам
					ul
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
				.services-section.individual-section
					p.title Физическим лицам
					ul
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
						li
							a(href="#") Генеральная уборка
			p Если какие либо услуги не включены, это не значит что наши специалисты не справятся с задачей. Позвоните и  проконсультируйтесь!
			p Независимо от того пользуетесь ли Вы нашими услугами как частное лицо, или представляете юридическое лицо, желаете ли Вы использовать наличный или безналичный расчет,  нужна ли Вам уборка утром или вечером (а может и в выходной день) мы всегда будем Вам рады. 
			p Позвоните и закажите услуги у нас.