extends _layout

block body
	include _pages-heading.jade
	.main-content
		.container.cf
			aside.sidebar
				.mini-menu
					ul
						li.has-sub
							a(href="#") ЮридическиМ ЛИЦАМ
							ul
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Предложение для управляющих компаний
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Уборка во время и после проведения мероприятий (корпоративы, встречи)
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
						li.has-sub
							a(href="#") Физическим ЛИЦАМ
							ul
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Предложение для управляющих компаний
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Уборка во время и после проведения мероприятий (корпоративы, встречи)
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
								li
									a(href="#") Мытье окон
			.services-detail-content
				img(src="img/services-item-img.jpg", alt="", style="float:left; margin:0 20px 20px 0")
				p Чистая репутация -  это комплекс факторов, которые формируют хорошие, доверительные отношения между потенциальным клиентом или деловым партнером и человеком, носителем репутации. Она формируется как на объективных аспектах, таких, как качество производимых товаров, услуг, а также профессиональные навыки, так и на субъективных.
				p Компания "Чистая репутация" позволит вашей квартире, дому или офису оставаться чистыми и радующими глаз. 
				p Специалисты нашей компании работают в сфере клининга уже много лет и знают об уборке все. Независимо от того насколько  большой объем необходимо выполнить,  наши мастера справятся. На данный момент в Санкт-Петербурге  и  Ленинградской области действует множество компаний представляющих услуги по уборке. Среди них есть достойные компании услугами которых Вы останетесь довольны. 
				p Компания "Чистая Репутация" из этого числа. Нам Важно, чтобы Вы  обращались к нам и становились нашими постоянными клиентами.  
				p Независимо от того пользуетесь ли Вы нашими услугами как частное лицо, или представляете юридическое лицо, желаете ли Вы использовать наличный или безналичный расчет,  нужна ли Вам уборка утром или вечером (а может и в выходной день) мы всегда будем Вам рады. 
				p Позвоните и закажите услуги у нас. Гарантируем чистоту! 















